<form>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="w3-bar w3-black">
            <a href="#" class="w3-bar-item w3-button w3-mobile w3-orange">Home</a>
            <a href="#" class="w3-bar-item w3-button w3-mobile w3-orange">Link 1</a>
            <a href="#" class="w3-bar-item w3-button w3-mobile w3-orange">Link 2</a>
            <a href="#" class="w3-bar-item w3-button w3-mobile w3-orange">Link 3</a>
            <input type="text" class="w3-bar-item w3-input" placeholder="Search..">
        </div>
<br><br><br><br>
<div class="w3-container">
    Select a Group:
    <select ng-model="myVar">
      <option value="">
      <option value="" placeholder="group">group
      <option value="" aria-placeholder="group">group
      <option value="" aria-placeholder="group">group
      <option value="" aria-placeholder="group">group
      <option value="" aria-placeholder="group">group  
      </option>
    </select>
</div>
    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #F26925; color: white; border-radius: 5px; margin: 5px;">
        Submit
    </button>
</form>
  
