<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div *ngIf="group != null">
                <div class="row">
                    <div class="col-2">
                        <div class="form-control">
                            <label>Name:</label>
                            <input type="text" class="form-control" readonly  value="{{group.groupName}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-control">
                            <label>Descripton:</label>
                            <input type="text" class="form-control" readonly  value="{{group.description}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-control">
                            <label>Interests:</label>
                            <input type="text" class="form-control" readonly  value="{{group.interests}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-control">
                            <label>Start Date:</label>
                            <input type="text" class="form-control" readonly  value="{{group.dateCreated}}">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-control">
                            <label>Creator:</label>
                            <input type="text" class="form-control" readonly  value='{{group.owner.firstName + " " + group.owner.lastName}}'>
                        </div>
                    </div>
                    <div class="col-2">
                        <input type="button" value="join" (click)="joinGroup()">
                        <input type="button" value="close" (click)="closeGroup()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


  
